<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Folder</title>
  </head>
  <body>
    <%- include("partials/header.ejs") %>
    <% if(locals.folder) {%>
    <h2><%= folder.name %></h2>
    <main class="folder-container">
      <form action="/folder/<%= folder.id %>/upload" method="post"
        enctype="multipart/form-data">
        <input type="file" name="uploaded_file" />
        <button type="submit">Upload</button>
      </form>
      <% files.forEach((file) => { %>
      <div class="file-card">
        <p><%= file.name %></p>
        <p><%= formatDate(file.created) %></p>
        <p><%= (file.size / 1000).toPrecision(4) %>kb</p>
        <form action="/folder/<%= folder.id %>/file/<%= file.id %>/download" method="post">
          <button>Download</button>
        </form>
        <form action="/folder/<%= folder.id %>/file/<%= file.id %>/delete" method="post">
          <button>Delete</button>
        </form>
      </div>
      <%})%>
    </main>
    <%}%>
  </body>
</html>
